@page "/"





<PageTitle>Translate App</PageTitle>

<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Welcome to Translate App!</h1>
        <p class="lead">This is a simple translation application built with Blazor.</p>
        <hr class="my-4">
        <p>Use the navigation bar to start translating text.</p>
        <a class="btn btn-primary btn-lg" href="/translate" role="button">Start Translating</a>
    </div>
</div>
